In [19]:
# 1-Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.
# Ans:
import pandas as pd
data=[4, 8, 15, 16, 23,42]
pd.Series(data)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [26]:
# Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
# variable print it.
#Ans:
import pandas as pd
data=[i for i in range(2,12)]
pd.Series(data)

0     2
1     3
2     4
3     5
4     6
5     7
6     8
7     9
8    10
9    11
dtype: int64

In [37]:
# Q3. Create a Pandas DataFrame that contains the following data:Then, print the DataFrame.
# Ans:
data={"Name":["Alice","Bob","Claire"],"Age":[25,30,27],"Gender":["Female","Male","Female"]}
pd.DataFrame(data,index=None)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.
Ans: A Pandas DataFrame is a 2 dimensional data structure, like a 2 dimensional array, or a table with rows and columns.Series can only contain single list with index, whereas dataframe can be made of more than one series or we can say that a dataframe is a collection of series that can be used to analyse the data.

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

Ans:Pandas is a popular library for data manipulation and analysis. It provides numerous functions for manipulating data in a DataFrame. Here are some common functions that can be used to manipulate data in a Pandas DataFrame:

head(): This function returns the first n rows of a DataFrame. This function is useful when you want to quickly inspect the first few rows of a large dataset.Example: Suppose you have a DataFrame named "df" and you want to see the first five rows. You can use the head() function as follows:df.head(5)
tail(): This function returns the last n rows of a DataFrame. This function is useful when you want to quickly inspect the last few rows of a large dataset.
Example: Suppose you have a DataFrame named "df" and you want to see the last five rows. You can use the tail() function as follows:df.tail(5)
describe(): This function generates descriptive statistics of a DataFrame, such as count, mean, standard deviation, minimum, and maximum values. This function is useful when you want to get an overview of the distribution of values in a dataset.
Example: Suppose you have a DataFrame named "df" and you want to generate descriptive statistics for all the columns. You can use the describe() function as follows:df.describe()
sort_values(): This function sorts the rows of a DataFrame based on one or more columns. This function is useful when you want to sort the data based on a particular column.
Example: Suppose you have a DataFrame named "df" with columns "name" and "age", and you want to sort the data based on the "age" column. You can use the sort_values() function as follows:df.sort_values('age')

Q6-Which of the following is mutable in nature Series, DataFrame, Panel?
Ans:Both the Series and the Dataframe are the mutable in the nature.

In [1]:
# Q7-Create a DataFrame using multiple Series. Explain with an example.
# Ans:
import pandas as pd

# Create three Series
name = pd.Series(['Alice', 'Bob', 'Charlie'])
age = pd.Series([25, 30, 35])
gender = pd.Series(['Female', 'Male', 'Male'])

# Combine the Series into a DataFrame
df = pd.DataFrame({'Name': name, 'Age': age, 'Gender': gender})

# Display the DataFrame
print(df)

      Name  Age  Gender
0    Alice   25  Female
1      Bob   30    Male
2  Charlie   35    Male